---
// Button component

interface Props {
  id?: string;
  style: 'primary' | 'secondary' | 'tertiary';
  type?: 'button' | 'submit' | 'reset';
  href?: string;
  scrollTo?: string;
  size?: 'sm' | 'md' | 'lg';
}

const { id, style, type, href, scrollTo, size = 'lg' } = Astro.props;

const baseClass = `group inline-flex text-${size} items-center transition-all scroll-hidden rounded-full px-8 py-4 justify-center hover:cursor-pointer transform hover:-translate-y-1`;

const styleClass =
  style === 'primary'
    ? 'bg-button-primary text-white font-medium hover:bg-black shadow-lg shadow-gray-200/50'
    : style === 'secondary'
      ? 'bg-button-secondary text-primary font-medium hover:bg-gray-200'
      : 'border border-white font-semibold';

const buttonClass = `${baseClass} ${styleClass}`;
---

{
  href ? (
    <a {...(id && { id })} class={buttonClass} href={href} role="button">
      <slot />
    </a>
  ) : (
    <button
      {...(id && { id })}
      class={buttonClass}
      {...(type && { type })}
      {...(scrollTo && { 'data-scroll-to': scrollTo })}
    >
      <slot />
    </button>
  )
}
